<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/signin.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
    <title>Gentleman</title>
</head>

<body class="text-center">
    <div class="form-signin" id="postman">
        <img src="/img/postman.png" height="190" , width="211">
        <br />
        <br />
        <br />

		<div class="container">
			<div class="row">
				<div class="col">
                    <button type=" button" class="btn btn-lg btn-primary " id="new">Postman Collecton 처음생성</button>
                    <button type=" button" class="btn btn-lg btn-warning " id="append">기존 Collection에 API추가</button>
				</div>
			</div>
        </div>
    </div>    

    <div class="form-footer">Copyright 2020. LGCNS Technical QA Team. All right reserved</div>

    <script>
        $('#new').click(function () {
            $(location).attr('href','/new');
        })
        $('#append').click(function () {
            $(location).attr('href','/append');
        })
    </script>
</body>

</html>