<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/signin.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
    <title>Gentleman</title>
</head>

<body class="text-center">
    <!-- <nav class="navbar navbar-dark bg-dark"> -->
        <!-- Navbar content -->
      <!-- </nav>     -->
      <!-- <nav class="navbar fixed-top navbar-light bg-light" aria-label="breadcrumb"> -->
      <nav class="fixed-top" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Postman 콜렉션 처음생성</li>
        </ol>
      </nav>  
    <div class="form-signin" id="postman">
        <img src="/img/postman.png" height="190" , width="211">
        <br />
        <br />
        <br />
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">API를 테스트 하기 위한 Collection을 생성하세요</h4>
            <p>Swagger를 이용하여 Postman Collection을 생성합니다.</p>
            <hr>
            <p class="mb-0">개발자의 Jira로그인 ID와 Swagger-ui 상단에 있는 api-docs url을 필요로 합니다.</p>
        </div>
        <input type="text" id="author" class="form-control" placeholder="Jira 로그인 아이디" required autofocus>
        <input type="text" id="surl" class="form-control" placeholder="Swagger api-docs URL"" required>
        <br/>
        <div class="row">
            <div class="col">
                <button type=" button" class="btn btn-lg btn-primary btn-block " id="genAll">전체 API 생성</button>
            </div>
            <div class="col">
                <button type=" button" class="btn btn-lg btn-success btn-block" id="listApi">선택한 API만 생성</button>
            </div>
        </div>
        <br/>
        <input class="form-check-input text-left" name="allowDup" type="checkbox" id="allowDup">
        <label class="form-check-label text-left" for="allowDup">동일한 아이디로 생성 허용</label>

        <div id="result"></div>
        <form id="listApiFormId" name="listApiForm" method="POST" action="/gentleman/listapi">
            <input type="hidden" id="hAuthor" name="hAuthor">
            <input type="hidden" id="hSurl" name="hSurl">
            <input type="hidden" id="hSwaggerJson" name="hSwaggerJson">
            <input type="hidden" id="hGroup" name="hGroup">
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="mdmsg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#listApi').click(function () {
            var vAuthor = $('#author').val();
            var vSurl   = $('#surl').val();
            var allowDup = $('#allowDup').is(":checked"); //아이디 중복 허용여부
            if (!vSurl || !vSurl === ''){
                alertModal('URL오류', 'Swagger URL을 입력해 주세요');
                return;
            }
            $.ajax({
                url: vSurl,
                type: "GET",
                success: function (result) {
                    $('#hAuthor').val(vAuthor);
                    $('#hSwaggerJson').val(JSON.stringify(result));
                    $('#hGroup').val(vSurl.substr(vSurl.indexOf('=')+1));
                    var gentleman = { author: vAuthor, swgrUrl: vSurl};
                    if (!allowDup){
                        $.ajax({
                            url: "gentleman/checkdupid",
                            type: "POST",
                            data: gentleman,
                            dataType: "json",
                            success: function (result) {
                                $('#listApiFormId').submit();
                            },
                            error: function (req, status, err) {
                                alertModal('작업 오류(' + req.status + ')', req.responseText);
                            }
                        })
                    }else{
                        $('#listApiFormId').submit();
                    }
                },
                error: function (req, status, err) {
                    alertModal('작업 오류(400)', 'Swagger URL 을 정확히 입력해 주세요');
                }
            })
        })

        $('#genAll_old').click(function () {//CORS설정이 안된 Swagger서비스이면 이 메소드로 해야 함...
            var allowDup = $('#allowDup').is(":checked"); //아이디 중복 허용여부
            var gentleman = { author: $('#author').val(), surl: $('#surl').val(), allowDup: allowDup};
            $.ajax({
                url: "/gentleman",
                type: "POST",
                data: gentleman,
                dataType: "json",
                success: function (result) {
                    var blob = new Blob([JSON.stringify(result.collection)]);
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = result.collection.info.name + ".json"; //2.0으로 convert한 것 기준으로 변경
                    link.click();
                    var blob2 = new Blob([JSON.stringify(result.env)]);
                    var link2 = document.createElement('a');
                    link2.href = window.URL.createObjectURL(blob2);
                    link2.download = result.env.name + ".json";
                    link2.click();

                    alertModal('작업 완료', 'Collection이 생성되어 다운로드 되었습니다.');
                },
                error: function (req, status, err) {
                    alertModal('작업 오류(' + req.status + ')', req.responseText);
                }

            })
        })

        $('#genAll').click(function () {
            var surl = $('#surl').val();
            if (!surl || !surl === ''){
                alertModal('URL오류', 'Swagger URL을 입력해 주세요');
                return;
            }
            $.ajax({
                url: surl,
                type: "GET",
                success: function (result) {
                    var group = surl.substr(surl.indexOf('=')+1);
                    var swaggerJson = JSON.stringify(result);
                    var allowDup = $('#allowDup').is(":checked"); //아이디 중복 허용여부
                    var gentleman = { author: $('#author').val(), swgrJson: swaggerJson, swgrUrl: surl ,allowDup: allowDup, group: group};
                    $.ajax({
                        url: "/gentleman/fromjson",
                        type: "POST",
                        data: gentleman,
                        //contentType:"application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            var blob = new Blob([JSON.stringify(result.collection)]);
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = result.collection.info.name + ".json";
                            link.click();
                            var blob2 = new Blob([JSON.stringify(result.env)]);
                            var link2 = document.createElement('a');
                            link2.href = window.URL.createObjectURL(blob2);
                            link2.download = result.env.name + ".json";
                            link2.click();

                            alertModal('작업 완료', 'Collection과 환경변수가 생성되어 다운로드 되었습니다.'+'</br>'+'Postman에서 import하여 사용하세요.');
                        },
                        error: function (req, status, err) {
                            alertModal('작업 오류(' + req.status + ')', req.responseText);
                        }
                    })
                },
                error: function (req, status, err) {
                    alertModal('작업 오류(400)', 'Swagger URL 을 정확히 입력해 주세요');
                }

            })
        })

        function alertModal(title, msg){
            $('#exampleModalCenter').on('show.bs.modal', function () {
                        $('#exampleModalCenterTitle').text(title);
                        $('#mdmsg').html(msg);
                    })
                    $('#exampleModalCenter').modal('toggle');
        }
    </script>
</body>
</html>